* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  min-height: 100vh;
  background-color: #eee;
  padding: 50px;
  line-height: 1.6;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

.fainted {
  color: #a8a8a8;
}

.bold {
  font-weight: bold;
  margin: 1em 0;
}

.white-card {
  background-color: #fff;
  padding: 20px;
  border-bottom: 3px solid #ff3d00;
  position: relative;
}
.black-card {
  color: #fff;
  background-color: #000;
  padding: 20px;
  border-bottom: 3px solid #ff3d00;
  position: relative;
}
.page div::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 48px;
  height: 48px;
  background-image: url("./double-quotes.png");
  background-size: 48px;
  opacity: 0.3;
}
.page div.black-card::after {
  filter: invert(100%);
}
h4 {
  margin-bottom: 8px;
}
.horz-2 {
  grid-column: span 2;
}
.vert-2 {
  grid-row: span 2;
}
.vert-3 {
  grid-row: span 3;
}
